services:
  app:
    container_name: nextcloud-app
    image: nextcloud:32.0.3-fpm
    restart: always
    expose:
      - '9000'
    volumes:
      - ./nextcloud/app_data:/var/www/html
  onlyoffice:
    container_name: nextcloud-onlyoffice
    image: onlyoffice/documentserver:9.2
    restart: always
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - USE_UNAUTHORIZED_STORAGE=true
    expose:
      - '80'
      - '443'
    volumes:
      - ./onlyoffice/document_data:/var/www/onlyoffice/Data
      - ./onlyoffice/document_log:/var/log/onlyoffice
  nginx:
    container_name: nextcloud-nginx
    image: nginx
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./certs:/etc/nginx/certs:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/common.conf:/etc/nginx/common.conf:ro
      - ./nextcloud/app_data:/var/www/html
