services:
  app:
    container_name: nextcloud-app
    image: nextcloud:32.0.3-fpm
    restart: always
    expose:
      - '9000'
    volumes:
      - ./nextcloud/app_data:/var/www/html
    depends_on:
      - db
  onlyoffice:
    container_name: nextcloud-onlyoffice
    image: onlyoffice/documentserver:9.2
    restart: always
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - USE_UNAUTHORIZED_STORAGE=true
    expose:
      - '80'
      - '443'
    volumes:
      - ./onlyoffice/document_data:/var/www/onlyoffice/Data
      - ./onlyoffice/document_log:/var/log/onlyoffice
  nginx:
    container_name: nextcloud-nginx
    image: nginx
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./certs:/etc/nginx/certs:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/common.conf:/etc/nginx/common.conf:ro
      - ./nextcloud/app_data:/var/www/html
  db:
    container_name: nextcloud-db
    image: mariadb:10.11
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    environment:
      - MARIADB_AUTO_UPGRADE=1
      - MARIADB_DISABLE_UPGRADE_BACKUP=1
    volumes:
      - ./nextcloud/db:/var/lib/mysql:Z
    env_file:
      - .env
